<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Group Detail</h2>
  		<table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to group_path(@group.id) do %>
              <%= image_tag @group.get_group_image(80,80) %><br>
              <% end %>
            </td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td><%= render 'menber', group: @group %></td>
            <% if @group.owner_id != current_user.id %>
              <%= render 'btn', group: @group %>
            <% else %>
              <td><%= link_to 'Edit', edit_group_path(@group.id) , class: "btn btn-success" %></td>
              <td><%= link_to 'Notice an Event', new_group_group_mail_path(@group.id), class: "btn btn-info" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>