<h2>投稿数の前日比・前週比</h2>
<table border="1" cellpadding="10">
  <thead>
    <td>今日の投稿数</td>
    <td>前日の投稿数</td>
    <td>前日比</td>
  </thead>

  <tbody>
    <td><%= user.books.created_today.count %></td>
    <td><%= user.books.created_yesterday.count %></td>
    <td><%= day_before %> %</td>
  </tbody>
</table>

<table border="1" cellpadding="10">
  <thead>
    <td>今週の投稿数</td>
    <td>前週の投稿数</td>
    <td>前週比</td>
  </thead>

  <tbody>
    <td><%= user.books.created_this_week.count %></td>
    <td><%= user.books.created_last_week.count %></td>
    <td><%= comp_last_week %> %</td>
  </tbody>
</table>