<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>


      <%= render 'post', user: @user, day_before: @day_before, comp_last_week: @comp_last_week %>

      <%= render 'posts', user: @user %>

      <%= render 'form', user: @user %>
      <div class="post_count">
        <%= render 'post_count', display_flag: @display_flag, post_count: @post_count, user: @user %>
      </div>
    </div>
  </div>
</div>
